.user-form {
  padding: 1rem;
  margin: 1.5rem 0;
}

.user-name-control,
.user-id-control,
.user-college-control {
  margin-bottom: 1rem;
}

.user-name-control label,
.user-id-control label,
.user-college-control label {
  display: block;
  width: fit-content;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-name-control input,
.user-id-control input,
.user-college-control input {
  width: 70%;
  height: 1.6rem;
  padding: 2px;
  font-size: medium;
  border: 1px solid gray;
}

input:focus {
  outline: none;
  border-color: #910873;
  box-shadow: 1px 1px 5px #910873;
}

.btn {
  cursor: pointer;
  padding: 7px;
  font-weight: bold;
  color: white;
  background-color: #910873;
  border: 1px solid;
}
.btn:hover {
  background-color: #49013a;
}
